body {
    padding-top: 20px;
    text-align: center;
}
.btn-scan {
    width: 100%;
    border-radius: 0px;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
}

.ap-alert-fullwidth {
        background-color: #f55145;
        color: #ffffff;
        border: 0;
        border-radius: 0;
        padding: 20px 15px;
        line-height: 20px;
}

.btn-scan > small {
    font-size: 12px;
    display: block;
}

.loading-box {
    text-align: center;
    padding: 30px 0px;
}

.loading-box > .glyphicon{
    font-size: 30px;
    margin-bottom: 10px;
}

.receipt-data-container {
    padding: 10px;
    text-align: left;
}

.receipt-data-container > strong {
    padding-left: 0px;
}

.receipt-data-container > h3 {
    font-weight: 100;
}

/* http://stackoverflow.com/a/26283602/2691729 */
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}